<h2 mat-dialog-title>CHỈNH SỬA LOẠI DỊCH VỤ</h2>
<mat-dialog-content>
<form [formGroup]="typeofserviceForm" (ngSubmit)="submitUnitForm()">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập mã loại dịch vụ'">
      <nz-input-group [nzPrefix]="prefixTemplateWriter">
        <input type="text" nz-input placeholder="Nhập mã loại dịch vụ" formControlName="typeOfServiceCode" required [(ngModel)]="this.typeOfService.typeOfServiceCode"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập tên loại dịch vụ'">
      <nz-input-group [nzPrefix]="prefixTemplateWriter">
        <input type="text" nz-input placeholder="Nhập tên loại dịch vụ" formControlName="typeOfServiceName" required [(ngModel)]="this.typeOfService.typeOfServiceName"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-radio-group formControlName="status">
      <label nz-radio nzValue="true">Kích hoạt</label>
      <label nz-radio nzValue="false">Không kích hoạt</label>
    </nz-radio-group>
  </nz-form-item>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Hủy</button>
  <button mat-button mat-raised-button color="primary" mat-dialog-close (click)="submitUnitForm()" cdkFocusInitial>OK</button>
</mat-dialog-actions>
<ng-template #prefixTemplateWriter><i nz-icon nzType="edit" [nzTheme]="'fill'"></i></ng-template>
