<nz-page-header class="site-page-header">
  <nz-page-header-extra>
    <button nz-button nzType="primary" nzType="dashed" (click)="exportExcel()">
      <i nz-icon [nzType]="'download'" [nzTheme]="'outline'"></i>Export
    </button>
  </nz-page-header-extra>
</nz-page-header>
<ng-template #totalTemplate>Tổng cộng {{ listOfData.length }}</ng-template>

<nz-table #basicTable [nzData]="listOfData" nzBordered [nzShowTotal]="totalTemplate" nzShowSizeChanger [nzPageSize]="10"
  [nzPageIndex]="1" [nzTotal]="listOfData.length" [nzPaginationPosition]="'bottom'" nzHideOnSinglePage="true">
  <thead>
    <tr>
      <th nzAlign="center" style="width: 4%;">STT</th>
      <th nzAlign="center" style="width: 5%;">Trạng thái</th>
      <th nzAlign="center" style="width: 6%;">Tháng TH</th>
      <th nzAlign="center" style="width: 10%;">AM</th>
      <th nzAlign="center" style="width: 8%;">MST</th>
      <th nzAlign="center">Tên KH</th>
      <th nzAlign="center" style="width: 6%;">S.Lượng HĐ</th>
      <th nzAlign="center" style="width: 15%;">Doanh thu</th>
      <th nzAlign="center" style="width: 10%;">Tháng ghi nhận DT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td nzAlign="center">{{ i + 1}}</td>
      <td nzAlign="center">
        <span [ngSwitch]="data.status">
          <p *ngSwitchCase="'Golive'">
            <span class="p-tag p-tag-success">{{ data.status }}</span>
          </p>
          <p *ngSwitchCase="'Demo'">
            <span class="p-tag">{{ data.status }}</span>
          </p>
          <!-- <p *ngSwitchCase="'Extend'">
              <span class="p-tag p-tag-warning">{{ data.status }}</span>
            </p> -->
          <p *ngSwitchCase="'Bo sung'">
            <span class="p-tag p-tag-info">Bổ sung</span>
          </p>
          <p *ngSwitchCase="'Delete'">
            <span class="p-tag p-tag-danger">{{ data.status }}</span>
          </p>
          <p *ngSwitchDefault>
            <span class="p-tag">{{ data.status }}</span>
          </p>
        </span>
      </td>
      <td nzAlign="center">{{ data.monthAction | date: "MM/yyyy" }}</td>
      <td nzAlign="center">
        <span nz-tooltip nzTooltipTitle="{{ data.am.unitCode }}">{{
          data.am.userName
          }}</span>
      </td>
      <td nzAlign="center">
        {{ data.comTaxCode }}
      </td>
      <td>{{ data.comName }}</td>
      <td style="text-align: right">
        {{ data.amount | currency: "VND":"" }}
      </td>
      <td style="text-align: right">{{ data.income | currency: 'VND':'' }} VND</td>
      <td nzAlign="center">
        <ng-container *ngIf="data.incomeDate !== ''; else elseTemplate">
          Tháng {{ data.incomeDate | date: 'MM/yyyy' }}
        </ng-container>
        <ng-template #elseTemplate>
          <i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="#FF0000"></i>
        </ng-template>
      </td>
    </tr>
    <tr>
      <td colspan="7" style="font-size: 18px; text-align: right; font-weight: bold;">Tổng cộng doanh thu</td>
      <td style="font-size: 18px; text-align: right; font-weight: bold; color: red;">{{ sumIncome | currency: "VND":"" }} VND</td>
      <td></td>
    </tr>
  </tbody>
</nz-table>
