<form [formGroup]="unitForm" (ngSubmit)="submitUnitForm()">
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập mã Phòng - Ban'">
      <nz-input-group [nzPrefix]="prefixTemplateWriter">
        <input type="text" nz-input placeholder="Nhập mã Phòng - Ban" formControlName="unitCode" required />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập tên Phòng - Ban'">
      <nz-input-group [nzPrefix]="prefixTemplateWriter">
        <input type="text" nz-input placeholder="Nhập tên Phòng - Ban" formControlName="unitName" required />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-radio-group formControlName="status">
      <label nz-radio nzValue="true">Kích hoạt</label>
      <label nz-radio nzValue="false">Không kích hoạt</label>
    </nz-radio-group>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">Hủy</button>
  <button nz-button nzType="primary" (click)="submitUnitForm()">Thêm</button>
</div>


<ng-template #prefixTemplateWriter><i nz-icon nzType="edit" [nzTheme]="'fill'"></i></ng-template>
