<nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<br />
<div nz-row nzJustify="center">
  <nz-date-picker nzAllowClear="false" [nzSize]="'large'" nzMode="month" [nzFormat]="'MM/yyyy'" [(ngModel)]="date"
    nzPlaceHolder="Chọn tháng cần xem" (ngModelChange)="sumaryTheoThang($event)" style="width: 200px;"></nz-date-picker>
</div>
<br>

<nz-divider nzText="1. THEO ĐƠN VỊ" nzOrientation="left" style="color: red;"></nz-divider>
<nz-table #basicTable nzTotal nzShowTotal nzBordered [nzLoading]=loading [nzData]="listOfDataUnit" nzPageSize="11">
  <thead>
    <tr>
      <th nzAlign="center" rowspan="2">STT</th>
      <th nzAlign="center" rowspan="2">Đơn vị</th>
      <th nzAlign="center" colspan="2">Tổng cộng</th>
      <th nzAlign="center" colspan="2">Mới</th>
      <th nzAlign="center" colspan="2">Gia hạn</th>
    </tr>
    <tr>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
    </tr>
  </thead>
  <tbody>
    <tr style="font-weight: bold; color: red;">
      <th nzAlign="right" colspan="2">Tổng cộng</th>
      <td nzAlign="center"> {{ sumCusUnit }} </td>
      <td nzAlign="right"> {{ sumIncomeUnit | currency: 'VND' :''}} </td>
      <td nzAlign="center"> {{ sumCusNewUnit}} </td>
      <td nzAlign="right"> {{ sumIncomeNewUnit | currency: 'VND' :''}} </td>
      <td nzAlign="center">{{ sumCusExtUnit}} </td>
      <td nzAlign="right"> {{ sumIncomeExtUnit | currency: 'VND' :''}} </td>
    </tr>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td nzAlign="center"> {{ i +1 }} </td>
      <td nzAlign="center"> {{ data._id.unitCode }} </td>
      <td nzAlign="center" style="font-weight: bold;"> {{ data.countNewIncome + data.countExtIncome }} </td>
      <td nzAlign="right" style="font-weight: bold;"> {{ data.newIncome + data.extIncome | currency: 'VND' :'' }} </td>
      <td nzAlign="center"> {{ data.countNewIncome }} </td>
      <td nzAlign="right"> {{ data.newIncome | currency: 'VND' :'' }} </td>
      <td nzAlign="center"> {{ data.countExtIncome }}</td>
      <td nzAlign="right"> {{ data.extIncome | currency: 'VND' :'' }} </td>
    </tr>
  </tbody>
</nz-table>

<nz-divider nzText="2. THEO AM" nzOrientation="left" style="color: red;"></nz-divider>
<nz-table #basicTable2 nzTotal nzShowTotal nzBordered [nzLoading]=loading [nzData]="listOfDataAM" nzPageSize="50">
  <thead>
    <tr>
      <th nzAlign="center" rowspan="2">STT</th>
      <th nzAlign="center" rowspan="2">Đơn vị</th>
      <th nzAlign="center" rowspan="2">AM</th>
      <th nzAlign="center" colspan="2">Tổng cộng</th>
      <th nzAlign="center" colspan="2">Mới</th>
      <th nzAlign="center" colspan="2">Gia hạn</th>
    </tr>
    <tr>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
      <th nzAlign="center">SL Khách hàng</th>
      <th nzAlign="center">Doanh thu</th>
    </tr>
  </thead>
  <tbody>
    <tr style="font-weight: bold; color: red;">
      <th nzAlign="right" colspan="3">Tổng cộng</th>
      <td nzAlign="center"> {{ sumCusAM }} </td>
      <td nzAlign="right"> {{ sumIncomeAM | currency: 'VND' :''}} </td>
      <td nzAlign="center"> {{ sumCusNewAM}} </td>
      <td nzAlign="right"> {{ sumIncomeNewAM | currency: 'VND' :''}} </td>
      <td nzAlign="center">{{ sumCusExtAM}} </td>
      <td nzAlign="right"> {{ sumIncomeExtAM | currency: 'VND' :''}} </td>
    </tr>
    <tr *ngFor="let data of basicTable2.data; index as i">
      <td nzAlign="center"> {{ i +1 }} </td>
      <td nzAlign="center"> {{ data._id.unitCode }} </td>
      <td nzAlign="center"> {{ data._id.userName }} </td>
      <td nzAlign="center" style="font-weight: bold;"> {{ data.countNewIncome + data.countExtIncome }} </td>
      <td nzAlign="right" style="font-weight: bold;"> {{ data.newIncome + data.extIncome | currency: 'VND' :'' }} </td>
      <td nzAlign="center"> {{ data.countNewIncome }} </td>
      <td nzAlign="right"> {{ data.newIncome | currency: 'VND' :'' }} </td>
      <td nzAlign="center"> {{ data.countExtIncome }}</td>
      <td nzAlign="right"> {{ data.extIncome | currency: 'VND' :'' }} </td>
    </tr>
  </tbody>
</nz-table>
