<nz-spin [nzSpinning]="isSpinning">
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="UserCode">Mã người dùng</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập mã người dùng'">
        <nz-input-group>
          <input type="text" nz-input formControlName="userCode" id="UserCode" required />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="Unit">Đơn vị</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng chọn Phòng - Ban'">
        <nz-select nzAllowClear nzPlaceHolder="Chọn Phòng - Ban" formControlName="unit" id="Unit">
          <nz-option [nzValue]="item" *ngFor="let item of listOfUnit" [nzLabel]="item.unitName"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="UserName">Tên người dùng</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="'Vui lòng nhập tên người dùng'">
        <nz-input-group>
          <input type="text" nz-input formControlName="userName" required id="UserName" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="Status">Trạng thái</nz-form-label>
      <nz-radio-group formControlName="status" id="Status">
        <label nz-radio [nzValue]="true">Kích hoạt</label>
        <label nz-radio [nzValue]="false">Không kích hoạt</label>
      </nz-radio-group>
    </nz-form-item>
  </form>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Hủy</button>
    <button nz-button nzType="primary" (click)="submitForm()">Cập nhật</button>
  </div>
</nz-spin>
