<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/components/button/en" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>VNPT - JIRA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/welcome">Tổng quan</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Dịch vụ Đầu số" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/dau-so/tong-quan-dau-so">Tổng quan</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/dau-so/so-lieu-dau-so">Chi tiết</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">1900</a>
          </li> -->
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="IDC" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/idc/tong-quan-idc">Tổng quan</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/idc/so-lieu-idc">Chi tiết</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Tên miền" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/domain/tong-quan-domain">Tổng quan</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/domain/so-lieu-domain">Chi tiết</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Webhosting" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/webhosting/tong-quan-webhosting">Tổng quan</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/webhosting/so-lieu-webhosting">Chi tiết</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Hóa đơn điện tử" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="dashboard">
            <a routerLink="/vnpt-invoice/tong-quan-hddt">Tổng quan HDDT</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/vnpt-invoice/so-lieu-site">Số liệu Site</a>
          </li>
          <li nz-submenu nzTitle="Báo cáo doanh thu" nzIcon="appstore">
            <ul>
              <li nz-menu-item><a routerLink="/vnpt-invoice/bao-cao-doanh-thu-thang">Theo tháng</a></li>
              <li nz-menu-item><a routerLink="/vnpt-invoice/bao-cao-doanh-thu-nam">Cả năm</a></li>
            </ul>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/vnpt-invoice/bao-cao-doanh-thu">Báo cáo doanh thu</a>
          </li> -->
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/vnpt-invoice/chi-tiet-hddt">Chi tiết</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="appstore">
            <a routerLink="/vnpt-invoice/build-invoice-examples">Dựng mẫu HDDT</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Administrator" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter nzIcon="control">
            <a routerLink="/units">Phòng - Ban</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="control">
            <a routerLink="/typeofservices">Loại dịch vụ</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="control">
            <a routerLink="/services">Dịch vụ</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="control">
            <a routerLink="/users">Người dùng</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <!-- <div class="inner-content"> -->
      <nz-card [nzBordered]="true">
        <router-outlet></router-outlet>
      </nz-card>
      <!-- </div> -->
    </nz-content>
  </nz-layout>
</nz-layout>
